.labLoan_title {
  margin-top: 0.79166667rem;
}
.labLoan_title p {
  text-align: center;
  font-size: 0.66666667rem;
  font-weight: Regular;
}
.labLoan_title p:nth-child(2) {
  font-size: 0.5rem;
  margin-top: 0.25rem;
}
.labLoan_form {
  text-align: center;
  width: 12.33333333rem;
  margin: 0.66666667rem auto;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 0.5rem;
}
.labLoan_form table tr > td {
  border: 1px solid #000000;
}
.labLoan_form table tr > td:first-child {
  border-top: none;
  border-left: none;
}
.labLoan_form table tr > td:last-child {
  border-top: none;
  border-right: none;
}
.labLoan_form table tr:last-child > td:first-child {
  border-left: none;
  border-bottom: none;
}
.labLoan_form table tr:last-child > td:last-child {
  border-right: none;
  border-bottom: none;
}
.labLoan_form tr {
  height: 2.16666667rem;
}
.labLoan_form tr > td {
  width: 6.20833333rem;
}
.app_choice_btn {
  margin: 1.45833333rem auto;
}
.app_choice_btn a {
  width: 3.45833333rem;
  height: 1.04166667rem;
  border-radius: 9px;
  padding: 0.25rem 0.45833333rem;
  color: #fff;
  font-size: 0.54166667rem;
}
.app_choice_btn .ok_app {
  background-color: #327BDE;
  margin-left: 1.29166667rem;
}
.app_choice_btn .no_app {
  margin-left: 3.08333333rem;
  background-color: #EF393C;
}
.table_no {
  margin-top: 0.625rem;
  text-align: center;
  font-size: 0.5rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: 400;
  color: #afacac;
  margin-bottom: 1.08333333rem;
}
.pop {
  width: 15rem;
  margin: 0 auto;
  background-color: #bfbfbf;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  height: 100%;
  opacity: 0.25;
  display: none;
}
.common_dialog {
  display: none;
  width: 10.04166667rem;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.03);
  z-index: 100;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.no_app_title {
  text-align: center;
  width: 100%;
  height: 1.79166667rem;
  background: #f8f8f8;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.58333333rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: 400;
  color: #000000;
  line-height: 1.79166667rem;
}
.no_app_suggest {
  width: 7.54166667rem;
  height: 2.625rem;
  margin: 0.45833333rem auto;
}
.no_app_suggest textarea {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid #afacac;
  font-size: 0.5rem;
}
.no_app_btn {
  margin-bottom: 0.70833333rem;
}
.no_app_btn a {
  width: 2.16666667rem;
  height: 0.83333333rem;
  border: 1px solid #b5b6b6;
  font-size: 0.5rem;
  font-weight: 400;
  color: #000000;
  padding: 0.25rem 0.58333333rem;
}
.no_app_btn .no_cancel_btn {
  margin-left: 2rem;
}
.no_app_btn .no_ok_btn {
  border: none;
  color: #fff;
  background: #0088fe;
  margin-left: 2.20833333rem;
}
.ok_icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0.625rem auto;
}
.ok_icon img {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
.ok_title {
  font-size: 0.66666667rem;
  text-align: center;
}
.ok_btn {
  text-align: center;
  margin: 0.75rem auto;
  font-size: 0.5rem;
  width: 2.16666667rem;
  height: 0.83333333rem;
  background: #0088fe;
  color: #ffff;
}
.hty_ok {
  display: none;
  text-align: center;
  color: #00BA64;
  font-size: 0.83333333rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1.16666667rem auto;
  margin-bottom: 1.41666667rem;
}
.hty_ok img {
  width: 4rem;
  height: 4rem;
}
.hty_no {
  display: none;
  color: #FF3F3B;
  font-size: 0.83333333rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1.16666667rem auto;
  margin-bottom: 4.95833333rem;
}
.hty_no img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.54166667rem;
}
.hty_no .no_result {
  width: 9.875rem;
  height: 3.58333333rem;
  border: 2px solid #ff3f3b;
  border-radius: 10px;
  margin-left: -2.66666667rem;
  margin-bottom: 0.83333333rem;
}
.hty_no .no_result textarea {
  margin: 0 1.54166667rem;
  width: 7rem;
  height: 2rem;
  border: none;
  color: #FF3F3B;
  font-size: 0.5rem;
}
.table_time {
  font-size: 0.5rem;
  color: #000000;
  text-align: right;
  display: none;
  margin-right: 0.54166667rem;
  margin-bottom: 0.79166667rem;
}
a:focus {
  color: #ffffff !important;
}
