html {
    font-size: 50px;
  }
  @media screen and (min-width: 280px) {
    html {
      font-size: 1.16666667rem;
    }
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: 1.33333333rem;
    }
  }
  @media screen and (min-width: 360px) {
    html {
      font-size: 1.5rem;
    }
  }
  @media screen and (min-width: 375px) {
    html {
      font-size: 1.5625rem;
    }
  
  }
  @media screen and (min-width: 384px) {
    html {
      font-size: 1.6rem;
    }
  }
  @media screen and (min-width: 400px) {
    html {
      font-size: 1.66666667rem;
    }
  }
  
  @media screen and (min-width: 480px) {
    html {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 540px) {
    html {
      font-size: 2.25rem;
    }
  }
  @media screen and (min-width: 720px) {
    html {
      font-size: 3rem;
    }
  }
  @media screen and (min-width: 780px) {
    html {
      font-size: 3.25rem;
    }
  }

  body {
    width: 15rem;
    margin: 0 auto;
    font-family: Microsoft YaHei Regular;
    background-color: #FFFFFF;
    overflow-x:hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

  }

  .app_header {
    display: flex;
    width: 15rem;
    height: 2.29166667rem;
    background: #ffffff;
    box-shadow: 0px 0.08333333rem 0.08333333rem 0px rgba(0, 0, 0, 0.02);
  }
  .app_header .title {
    vertical-align: middle;
    margin-top: 0.70833333rem;
    margin-left: 4rem;
  }
  .app_header .title,
  .app_header .back_btn .layui-icon-left {
    font-size: 0.75rem;
  }
  .app_header .back_btn {
    margin: 0.83333333rem 0 0.66666667rem 0.75rem;
  }
  .app_middle {
    height: 2.125rem;
    background-color: #F8F8F8;
  }
  .app_middle .app_btn {
    padding-top: 1rem;
    margin-left: 0.75rem;
  }
  .app_middle .app_btn a {
    width: 2.125rem;
    height: 0.91666667rem;
    background: white;
    border-radius: 0.41666667rem;
    font-size: 0.5rem;
    color: #000000;

    padding: 0.20833333rem 0.58333333rem;
  }
  .app_middle .app_btn .hty_btn {
    color: #000000;
    background-color: #ffffff;
  }
  .app_middle .app_btn .hty_btn{
    background: #0088FE;
    color: white;
  }
  .app_middle .app_btn a:nth-child(2) {
    margin-left: 0.375rem;
  }
  .Approve_graph {
      /* background-color: red; */
      height:100px;
  }
  .picture_box,.contant{
      /* background-color: pink; */
      height:500px;
  }
  .picture_box,.people_box{
      width: 68%;
      height:50%;
      margin: 0 auto;
  }
  .picture_box>div{
      float: left;
  }
  .complete,.lablinear,.labcircle{
    width: 10px;
    height: 10px;
    background: #0088fe;
    border: 0px solid #0088fe;
    margin-top: 25px;
    border-radius: 25px;
  }
  .complete{
      margin-left: 15px;
  }
  .lablinear{
    width: 52px;
height: 3px;
margin-top: 29px;

  }
  /* .not_completed {
      background:red;
  } */
  .people_box>p{
    width: 60px;
    font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
    text-align: left;
    color: #000000;
    word-break: break-all;
    float: left;
    margin-left: 10px;
  }
  .formheader{
      width: 6rem;
      font-size: 0.75rem;
      margin-left: 4.5rem;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;

  }
  .formdate{
      width: 20rem;
      text-align: left;
      float: left;
      margin-left: 9rem;
 
  }
  form{
      width: 80%;
      height: 100%;
      margin: 0 auto;      
  }
  td{
      width: 20%;
height: 50px;
text-align: center;
  }
  .formtjdate{
      margin-left: 41px;
      margin-top: 2rem;
      margin-bottom: 1rem;
  }
  .return_status{
      width: 10rem;
      height: 2rem;
 
      margin: 0 auto;
      margin-top: 5rem;
      font-size: 1rem;
font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
color: #000000;
text-align: center;
  }
 .detailed_page-header{
  width:100%;
  height: 2rem;
  background: #f8f8f8;

 }
 .detailed_page{
  width: 80%;
  height: 14rem;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.03); 
  margin: 1rem auto;

 }
 .detailed_page>form>input{
   float: left;
   width: 110px;
   text-align: center;
   margin-top: 20px;
   border: 0px;
   background-color: transparent;
 }
  @media screen and (min-width: 320px) {
    .detailed_page {
        width: 90%;
        height: 16rem;
   
    }
  }
  @media screen and (min-width: 375px) {

    .detailed_page {
        width: 80%;
        height: 14rem;
    }
   
     }
   
  @media screen and (min-width: 414px) {
    .detailed_page {
        width: 84%;
        height: 14rem;
    }
    .detailed_page>form>input {
        float: left;
        width: 130px;
        text-align: center;
        margin-top: 20px;
        border: 0px;
        background-color: transparent;
    }
 

  }

  /* 5se */
