* {
    margin: 0;
    padding: 0;
}

body {
    width: 15rem;
    margin: 0 auto;
    font-family: Microsoft YaHei Regular;
    background-color: #FFFFFF;
    overflow-x:hidden;
    position: relative;
    left: 50%;
}

.form {
    padding-top: 4rem;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.table {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid #0C0C0C
}

.table td,.table th{
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.5rem;
}

.box-r {
    border-radius: 10px;
    border: 1px solid #0C0C0C;
    overflow: hidden;
}

td button {
    width: 2rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 7px;
    background: #0088FE;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #0088FE;
}

.img_fa {
    display: block;
    padding-top: 1.5rem;
    text-align: center;
}

.img_fa img {
    margin: 0 auto;
    text-align: center;
    height: 0.9rem;
    width: 0.9rem;
}

.button_fa {
    display: block;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.button_fa button {
    width: 3rem;
    height: 1rem;
    background: #0088fe;
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 0.6rem;
    outline: none;
    border: 1px solid #0088fe;
    text-align: justify;
    text-align-last: justify;
    padding: 0 0.6rem;
}

/*提示成功弹出框*/

.success_eject {
    z-index: 99999;
    display: none;
    position: absolute;
    top: 4rem;
    margin: 0 auto;
    left: 13%;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.03);
}

.eject_img {
    margin: 0.6rem 0;
    display: block;
}

.eject_img img {
    width: 2.5rem;
    height: 2.5rem;
}

.success_eject p {
    font-size: 0.7rem;
    font-weight: 500;
}

.success_eject button {
    width: 2rem;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #0088FE;
    color: #FFFFFF;
    font-size: 0.6rem;
    outline: none;
    border: 1px solid #0088FE;
    margin: 0.4rem 0;
}
/*表单弹出框*/
.from_eject {
    z-index: 998;
    display: none;
    position: absolute;
    top: 2rem;
    margin: 0 auto;
    left: 13%;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.03);
}

.from_eject span,.add_eject span{
    text-align: right;
    display: block;
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.td_nav1 {
    width: 35%;
    color: #000000;
    font-size: 0.6rem;
    padding-left: 0.4rem;
    text-align: left;
}

.from_eject table,.add_eject table{
    width: 100%;
}

.td_nav2 {
    width: 65%;
    text-align: left;
}

.from_eject tr,.add_eject tr{
    height: 1.7rem;
}

.from_eject select,.add_eject select{
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #838181;
    border-radius: 8px;
    width: 80%;
}

.from_eject input,.add_eject input{
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #838181;
    border-radius: 8px;
    width: 80%;
}

.bu {
    display: flex;
    width: 100%;
}

.bu_one {
    width: 50%;
    margin: 0.8rem 0;
}

.bu_one button {
    width: 2rem;
    height: 1rem;
    background: #EF393C;
    color: #FFFFFF;
    font-size: 0.5rem;
    outline: none;
    line-height: 1rem;
    border: 1px solid #EF393C;
    text-align: center;
}

.bu_two {
    width: 50%;
    margin: 0.8rem 0;
}

.bu_two button{
    width: 2rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #0088FE;
    font-size: 0.5rem;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #0088FE;
    text-align: center;
}
/*增加 弹出框*/
.add_eject {
    z-index: 999;
     display: none;
    position: absolute;
    top: 6rem;
    margin: 0 auto;
    left: 13%;
    background: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.03);
}

.add_bu {
    width: 100%;
    margin: 0.8rem auto!important;
    text-align: center!important;
}

.add_bu button {
    width: 2.5rem;
    height: 1rem;
    line-height: 1rem;
    background-color: #0088FE;
    font-size: 0.6rem;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #0088FE;
    text-align: center;
}

.mask {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.25);
}